* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hour-slot {
    border: 1px solid red;
}

.event-item {
    border: 1px solid blue;
    background-color: aliceblue;
}

.hour-slot-interval {
    border: 1px dashed #e0e0e0;
}

.hour-slot-interval:hover {
    background-color: lavender;
}

.week-header {
    margin-left: 56px;
    display: flex;
    width: calc(100% - 56px);
}

.week-header-cell {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.week-header-cell-date {
    color: #666;
}
